name: Dynamic README injection

on:
  schedule:
    # Runs at 12am UTC
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  # get-office-quotes:
  #   name: Update this repo's README with office-quotes
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 14.6.0

  #     - run: yarn

  #     - run: node .

  #     - name: Add to git repo
  #       run: |
  #         git config pull.rebase false
  #         git pull
  #         git add .
  #         git config --global user.name "Your Name"
  #         git config --global user.email "Your E-Mail"
  #         git commit -m "[Automated] README updated with new Office quote!"
  #     - name: Push
  #       uses: ad-m/github-push-action@master
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}

  update-readme-with-blog:
    needs: get-office-quotes
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          # Replace this URL with your rss feed URL/s
          max_post_count: "4"
          feed_list: "https://dev.to/feed/zikazaki"
          
  update-waka-readme:
    name: Update this repo's Waka-README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}